// Primary
$primary-blue: #47BAD4;
$primaryGreen:#7CD52D;
$primaryRed: #FC255A;
$primaryOrange: #FD732A;
$primaryPurple: #9729D3;
$primaryYellow:#FED239;
$primaryPink: #FD28FC;
$primaryMagenta:#FD5F5B;
$gray-btn:#666666;
// Default
$white:#fff;
$black:#000;
// Variable to change
$primary-color: $primary-blue;