/* Mobile & Tablet */

@media (max-width: 1023px) {
    .hidden-t {
        display: none;
    }
    .nav {
        &__list {
            display: none !important;
        }
    }
    .header__body {
        flex-direction: column;
        flex: unset;
        margin-top: 50px;
        &-avt {
            height: 260px;
            width: 260px;
        }
        &-infor {
            margin-left: 0;
            margin-top: 20px;
            text-align: center;
        }
        .infor__decs {
            line-height: 2;
            font-weight: 400;
        }
    }
    .sticky {
        height: 50px;
        .nav__icon-soft {
            span {
                background-color: gray !important;
            }
        }
    }
    .header__body-infor h2 {
        padding-left: 0;
    }
}

// Motherfucking Iphone 5S
@media (max-width: 321px) {
    .home,
    .background {
        overflow: unset !important;
    }
    .header .header__body-avt {
        height: 100px;
        width: 100px;
    }
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }
    .header__body-infor .infor-title__static {
        text-align: left;
    }
    .contact__item {
        min-height: 121px;
    }
}

/* Mobile Only */

@media (max-width: 739px) {
    .hidden-m {
        display: none;
    }
    .portfolio__filter-item{
        min-width: 50px;
        margin: 0 !important;
        font-size: 12px;
        margin-left: 5px !important;
        text-align: center;
    }
    .header__body {
        margin-top: 10px;
        width: 100%;
        &-avt {
            height: 150px;
            width: 150px;
            border: 10px solid #47bad4;
        }
        &-infor {
            width: 100%;
            .infor-title {
                font-size: 3rem;
                justify-content: center;
            }
            .infor__decs {
                line-height: 1.6;
                margin-top: 20px;
                font-size: 1.4rem;
            }
            .button__list {
                flex-direction: column;
                button {
                    margin: 0;
                    margin-bottom: 12px;
                    min-width: 288px;
                }
            }
        }
        .infor-title__static {
            text-align-last: center;
            max-width: 240px;
            margin: 0 0 0 2px;
        }
    }
    .header .sroll {
        display: none;
    }
    .about {
        padding-top: 40px;
        font-size: 1.8rem;
    }
    .about__section-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-title__text {
        font-size: 3.4rem;
        font-weight: 700;
    }
    .main-title {
        margin-bottom: 40px;
    }
    .header .nav {
        padding: 0 20px;
        height: 50px;
    }
    .button__list {
        a {
            margin-left: unset;
        }
    }
    .section-title {
        margin-bottom: 0;
    }
    .portfolio {
        .btn-default {
            padding: 10px ;
        }
    }
    .contact {
        .main-title {
            margin-bottom: 10px;
        }
    }
}

/* Tablet to PC low resolution */

@media (min-width: 985px) and (max-width: 1200px) {
    .about__item-title {
        min-width: 90px;
    }
    .about__item-content {
        max-width: 115px;
    }
}

/* > PC low resolution */

@media (min-width: 1024px) and (max-width: 1239px) {
}

/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }
}

// PC
@media (min-width: 1200px) {
    // .container {
    //     max-width: 1280px;
    // }
    .about__item-content {
        max-width: 173px;
    }
}
